# =============================================================================
# Managed by Ansible — Disabled kernel modules
# =============================================================================

{% for module in kernel_modules_disabled %}
install {{ module }} /bin/false
blacklist {{ module }}

{% endfor %}