****************************************************************************
                          AVIS LEGAL - ACCES RESTREINT

This system is for the use of authorized users only. Individuals using
this system are subject to having all activities monitored and logged.

Toute utilisation non autorisee est interdite et peut faire l'objet de
poursuites civiles et/ou penales.
****************************************************************************
