minlen = {{ password_min_length }}
dcredit = -1
ucredit = -1
ocredit = -1
lcredit = -1
minclass = {{ password_min_classes }}
maxrepeat = {{ password_max_repeat }}
maxsequence = {{ password_max_sequence }}
dictcheck = {{ password_dictionary_check }}
retry = {{ password_retry }}
enforce_for_root